.custom-radio-btn {
    --size: 25px;
    min-width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* changes from the video   */
    
    margin: 0 10px;
    position: relative;
    padding-left: var(--size);
  }
  
  .custom-radio-btn input {
    display: none;
  }
  
  /* handle if you want label on the left of the checkmark instead */
  
  .custom-radio-btn.left {
    padding-left: 0;
    padding-right: var(--size);
  }
  
  /* label  */
  
  .custom-radio-btn .label {
    margin-left: 5px;
  }
  
  .custom-radio-btn.left .label {
    margin: 0 5px;
  }
  
  .custom-radio-btn[aria-label]::after {
    content: attr(aria-label);
    display: inline-block;
    margin-left: 5px;
  }
  
  /* checkmark */
  
  .custom-radio-btn .checkmark {
    --gap: 3px;
    --border: 2px;
    --check-color: #ff5722;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.3s ease;
    /* changes from the video  */
    
    border: var(--border) solid #444;
    padding: var(--gap);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .custom-radio-btn.left .checkmark {
    left: auto;
    right: 0;
  }
  
  .custom-radio-btn input:checked ~ .checkmark {
    /* changes from the video  */
  
    /*  content box origin will make sure the bg-image only stays inside content area in between padding  */
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: radial-gradient(
      circle at center, 
      var(--check-color) 
       /* the size of the check mark is determined by subtracting from the size of the circle
       the border(both sides) and the gap(both sides) than dividing it by 2 to get the radius of the circle        */
         calc((var(--size) - (var(--border) * 2) - (var(--gap) * 2)) / 2), 
      rgba(255, 255, 255, 0) 0);
  }